<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add(){
	location.href="mem_add";
}	
</script>
</head>
<body>
MEM_DETAIL
<table border='1'>

<tr>
	<td>아이디</td>
	<td>이름</td>
	<td>성별</td>
	<td>주소</td>
</tr>

{% for i in list %}

	<tr>
		<td><a href="mem_detail?m_id={{i.m_id}}">{{i.m_id}}</a></td>
		<td>{{i.m_name}}</td>
		<td>{{i.tel}}</td>
		<td>{{i.address}}</td>
	</tr>	
{% endfor %}
</table>

<input type="button" value="추가" onclick="fn_add()"> 
</body>
</html>